<div>
  <h1>New Hero</h1>
  <form
    autocomplete="off"
    class="form-hero"
    [formGroup]="miForm"
    (ngSubmit)="save()"
  >
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Full Name</mat-label>
      <input matInput type="text" formControlName="fullName" />
    </mat-form-field>
    <label>Gender:</label>
    <mat-radio-group class="radio-button" formControlName="gender">
      <mat-radio-button [color]="'primary'" value="Male">Male</mat-radio-button>
      <mat-radio-button [color]="'primary'" value="Female"
        >Female</mat-radio-button
      >
    </mat-radio-group>
    <mat-form-field>
      <mat-label>Occupation</mat-label>
      <input matInput type="text" formControlName="occupation" />
    </mat-form-field>
    <button mat-flat-button color="primary" [disabled]="!miForm.valid">
      Save
    </button>
  </form>
</div>
